:root {
    --font-primary: 'Source Serif Pro';

    --very-dark-grey: #222;
    --dark-grey: #555;
    --light-grey: #DADADA;
    --very-light-grey: #f8f8f8;

    --text-primary: color(--very-dark-grey);
    --text-secondary: color(--dark-grey);
}

body {
    font-family: var(--font-primary), serif;
    color: var(--text-primary);
}

.link-to-code {
    position: fixed;
    right: 20px;
    top: 20px;
}
.link-to-code img {
    width: 40px;
    opacity: 50%;
    transition-duration: 0.1s;
}
.link-to-code:hover img {
    opacity: 100%;
}
@media screen and (max-width: 700px) {
    .link-to-code {
        display: none;
    }
}

.main {
    margin: 30px 10%;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}
p {
    font-size: 16px;
}
h2 {
    font-size: 28px;
}
div > code {
    white-space: pre-line;
}

.home-link {
    text-decoration: none;
}
.home-link span {
    font-family: arial;
    font-size: 1.7rem;
}

.discrete-link {
    text-decoration: none;
    color: var(--text-primary);
}
.discrete-link:hover span {
    text-decoration: underline;
}

.link-block {
    display: block;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    padding: 10px;
    color: var(--text-secondary);
    text-decoration: none;
    line-height: 1.5rem;
    margin: 10px 0;
}
.link-block:hover {
    background-color: var(--very-light-grey);
}
.link-block b {
    display: block;
    color: var(--text-primary);
}

.text-with-icon span {
    position: relative;
    top: 2px;
}
.text-with-icon img {
    height: 1em;
    vertical-align: middle;
}

@media screen and (min-width: 700px) {
    .main {
        margin: 30px;
        width: 600px;
    }

    body {
        display: flex;
        justify-content: center;
    }
}